html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Light themes */
  --lightBG: linear-gradient(white, skyblue);
  --lightBG2: #87ceeb99;
  --lightBGhover: #87ceeb65;
  --lightColor: snow;
  --lightSectionColor: skyblue;

  /* Dark themes */
  --darkBG: linear-gradient(hsl(204,18.8%,10%), white);
  --darkBG2: hsl(204,18.8%,35%);
  --darkBGhover: hsl(204,18.8%,25%);
  --darkColor: hsl(204.3,18.7%,19.2%);

}

.light {
  --bg: var(--lightBG);
  --active: var(--lightBG2);
  --hover: var(--lightBGhover);
  --sectionBG: skyblue;
  --text: var(--lightColor);
}

.dark {
  --bg: var(--darkBG);
  --text: var(--darkColor);
  --active: var(--darkBG2);
  --hover: var(--darkBGhover);
  --sectionBG: var(--darkBG2);
}

body {
  background: var(--bg);
  width: 100vw;
  height: 100vh;
  overflow: clip;
}

h1 {
  font-family: Patua One, cursive;
  font-size: 60px;
  margin: 25vh 25vw 0 31vw;
  text-align: center;
  color: var(--text);
  text-shadow: 1px 1px black;
  letter-spacing: 15px;
}

h2 {
  font-family: Patua One, cursive;
  color: var(--text);
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}

h1 span {
  animation-name: blink;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

p {
  font-family: Maven Pro, sans-serif;
  color: var(--text);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--text);
}

audio {
  opacity: 0.2;
  width: 6%;
}

.nav-container {
  margin: 25vh 25vw;
  margin-top: 12.5vh;
  width: 50%;
  height: 25%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about,
.writing,
.coding {
  border: 8px var(--text) solid;
  border-radius: 50%;
  max-height: 40%;
  padding-top: 6%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 0%;
  /*padding: 3%;*/
  font-size: 30px;
  text-shadow: 1px 1px var(--text);
  box-shadow: 1px 1px var(--text);
  letter-spacing: 1px;
}

.about:hover, .writing:hover, .coding:hover, .toggle-dark:hover {
  background-color: var(--hover);
  /*opacity: 0.7;*/
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}

.about:active, .writing:active, .coding:active, .toggle-dark:active {
  background-color: var(--active);
}

.about-section,
.coding-section {
  visibility: hidden;
  opacity: 1;
  background-color: var(--sectionBG);
  border: 8px var(--text) solid;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 0;
  margin: 25vh 25vw;
  width: 50%;
  z-index: 2;
}

.me {
  margin: 2%;
  text-align: left;
}

.exit {
  text-align: right;
  margin-right: 2%;
  font-size: 20px;
  font-family: Maven Pro, sans-serif;
  color: var(--text);
  cursor: pointer;
}

.exit:hover {
  font-size: 22px;
}

.toggle-dark {
  cursor: pointer;
  border: 5px var(--text) solid;
  border-radius: 25%;
  width: 5%;
  position: relative;
  left: 47.5%;
  bottom: 15%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (orientation: portrait) {
  body {
    overflow: clip;
    background: var(--bg);
  }
  h1 {
    margin-top: 0;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .nav-container {
    flex-direction: column;
    width: 40%;
    height: 30%;
    margin: 38% 30% 0 30%;
  }
  .about,
  .writing,
  .coding {
    border: 8px var(--text) solid;
    border-radius: 50%;
    height: 100%;
    width: 90%;
    margin: 3%;
    padding: 30% 3% 30% 3%;
    font-size: 30px;
    text-shadow: 1px 1px var(--text);
    box-shadow: 1px 1px var(--text);
    letter-spacing: 1px;
  }

  .about-section,
  .coding-section {
    font-size: 18px;
  }

  .toggle-dark {
    cursor: pointer;
    border: 5px var(--text) solid;
    border-radius: 25%;
    width: 10%;
    height: 3%;
    position: relative;
    padding: 1.5%;
    left: 45%;
    bottom: -21%;
  }

}

@media only screen and (orientation: landscape) and (max-height: 600px) {
  body {
    overflow: clip;
  }
  h1 {
    margin-top: 2%;
  }
  .nav-container {
    flex-direction: row;
    width: 50%;
    height: 30%;
  }

  .about,
  .writing,
  .coding {
    border: 8px var(--text) solid;
    border-radius: 50%;
    max-height: 50vh;
    width: 100%;
    margin: 5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10%;
    padding-bottom: 0%;
    margin-top: 0;
    font-size: 30px;
    text-shadow: 1px 1px var(--text);
    box-shadow: 1px 1px var(--text);
    letter-spacing: 1px;
  }

  .about-section,
  .coding-section {
    font-size: 18px;
  }

  .toggle-dark {
    cursor: pointer;
    border: 5px var(--text) solid;
    border-radius: 25%;
    width: 7%;
    position: relative;
    left: 3.5%;
    bottom: 84%;
    background: var(--active);
  }
}
